.pagination {
  margin-top: 15px;
  min-height: 26px;
}

.pagination a {
  font-size: 11pt;
  display: inline-block;
  color: white;
  text-decoration: none;
  height: 20px;;
  text-align: center;
  padding: 0px 5px;
}

.pagination a.arrow {
  font-size: 16pt;
}
.pagination a.arrow-left,
.pagination a.arrow-right {
  width: 40px;
}

.pagination a.arrow-left::after {
  content: "←";
  font-size: 16pt;
}

.pagination a.arrow-right::before {
  content: "→";
  font-size: 16pt;
}

.pagination a.current {
  background: white;
  color: #333131;
  border-radius: 5px;
  line-height: 1.3em;
}


@media (max-width: 650px) {
  .pagination {
    text-align: center;
    margin: 0;
    margin-bottom: 7px;
  }

  .pagination a {
    font-size: 11pt;
    display: inline-block;
    color: white;
    text-decoration: none;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 10px;
  }

  .pagination a.arrow {
    font-size: 16pt;
  }

  .pagination a.current {
    background: white;
    color: #333131;
    border-radius: 5px;
    line-height: 1.3em;
    margin-left: 5px;
    margin-right: 5px;
  }
}
