<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Страшные истории</title>
  <style>
    .bold { font-weight: bold; }
  </style>
</head>
<body>
  <p class="bold">Server side error</p>
  <p><span class="bold">Note</span>: this error shows only with "<span class="bold">development</span>" NODE_ENV</p>
  <hr>
  <div id="error">{{error}}</div>
  <div id="message">{{stack}}</div>
</body>
</html>
