.header {
  position: relative;
}

.header a {
  text-decoration: none;
}

.header .scary-label {
  font-family: youmurderer;
  color: white;
  font-size: 100pt;
  text-shadow: 5px 5px 1px #300000, 4px 6px 1px #200000, 4px 8px 1px #100000;
  cursor: pointer;
  height: 100px;
  line-height: 0.7;
  padding-left: 20px;
}

@media (max-width: 750px) {
  .wrap.header {
    text-align: center;
  }

  .header .scary-label {
     padding-left: 0;;
  }
}

@media (max-width: 550px) and (min-width: 375px) {
  .header {
    margin-bottom: 0;
  }
  .header .scary-label {
     text-align: center;
     height: 75px;
  }
}

@media (max-width: 375px) {
  .header {
    margin-bottom: 0;
  }
  .header .scary-label {
     text-align: center;
     height: 55px;
  }
}

.header .ghost-logo {
  position: absolute;
  right: 138px;
  top: 10px;
  height: 100px;
}

.ghost-dark-icon {
  width: 50px;
  position: absolute;
  top: 8px;
  right: 15px;
}

@media (min-width: 750px) and (max-width: 840px) {
  .header .ghost-logo  {
    right: 20px;
  }
}

@media (max-width: 750px) {
  .header .ghost-logo  {
    display: none;
  }
}
